@using Microsoft.AspNetCore.Identity

@inject UserManager<ApplicationUser> userManager
@inject SignInManager<ApplicationUser> signInManager

@model OverviewViewModel

@{
    ViewData["Title"] = "Home Page";
    var loggedInUser = await userManager.GetUserAsync(User);
}

<h1>Welcome back @loggedInUser.UserName!</h1>
<p>Time spent on Films: @Model.TimeSpentOnFilmsInMinutes</p>


